@mixin transition-ease {
  transition: all 0.5s ease-in;
}

@mixin landingAnimation {
  animation: fade ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes fade {
    0% {
      @include transition-ease;
      filter: blur(20px);
      top: 60%;
    }
    100% {
      @include transition-ease;
      filter: blur(0px);
      top: 40%;
    }
  }
}

@mixin navAnimation {
  animation: nav ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes nav {
    0% {
      @include transition-ease;
      filter: blur(5px);
      left: 0%;
    }
    100% {
      @include transition-ease;
      filter: blur(0px);
      left: 0%;
    }
  }
}

@mixin btnAnimation {
  animation: btn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes btn {
    0% {
      @include transition-ease;
      filter: blur(5px);
      top: 80%;
    }
    100% {
      @include transition-ease;
      filter: blur(0px);
      bottom: -20%;
    }
  }
}

@mixin galleryIMG1 {
  animation: img1 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img1 {
    0% {
      transition: all 0.5s ease-in;
      left: 0;
    }
    100% {
      transition: all 0.5s ease-in;
      left: -20%;
    }
  }
}
@mixin galleryIMG2 {
  animation: img2 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img2 {
    0% {
      transition: all 0.5s ease-in;
      left: 0;
    }
    100% {
      transition: all 0.5s ease-in;
      left: -25%;
    }
  }
}
@mixin galleryIMG3 {
  animation: img3 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img3 {
    0% {
      transition: all 0.5s ease-in;
      left: -25%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: -50%;
    }
  }
}
@mixin galleryIMG4 {
  animation: img4 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img4 {
    0% {
      transition: all 0.5s ease-in;
      left: -50%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: -75%;
    }
  }
}
@mixin galleryIMG5 {
  animation: img5 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img5 {
    0% {
      transition: all 0.5s ease-in;
      left: -75%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: -95%;
    }
  }
}
@mixin galleryIMG6 {
  animation: img6 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img6 {
    0% {
      transition: all 0.5s ease-in;
      left: 120%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 80%;
    }
  }
}
@mixin galleryIMG7 {
  animation: img7 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img7 {
    0% {
      transition: all 0.5s ease-in;
      left: 80%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 55%;
    }
  }
}
@mixin galleryIMG8 {
  animation: img8 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img8 {
    0% {
      transition: all 0.5s ease-in;
      left: 55%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 30%;
    }
  }
}
@mixin galleryIMG9 {
  animation: img9 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img9 {
    0% {
      transition: all 0.5s ease-in;
      left: 30%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 5%;
    }
  }
}
@mixin galleryIMG10 {
  animation: img10 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img10 {
    0% {
      transition: all 0.5s ease-in;
      left: 5%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: -15%;
    }
  }
}
@mixin galleryIMG11 {
  animation: img11 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img11 {
    0% {
      transition: all 0.5s ease-in;
      left: 120%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 37.5%;
    }
  }
}
@mixin galleryIMG12 {
  animation: img12 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img12 {
    0% {
      transition: all 0.5s ease-in;
      left: 62%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 37.5%;
    }
  }
}
@mixin galleryIMG13 {
  animation: img13 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img13 {
    0% {
      transition: all 0.5s ease-in;
      left: 60%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 12.5%;
    }
  }
}
@mixin galleryIMG14 {
  animation: img14 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img14 {
    0% {
      transition: all 0.5s ease-in;
      left: 45%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 21%;
    }
  }
}
@mixin galleryIMG15 {
  animation: img15 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img15 {
    0% {
      transition: all 0.5s ease-in;
      left: 36%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 12.5%;
    }
  }
}
@mixin galleryIMG16 {
  animation: img16 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img16 {
    0% {
      transition: all 0.5s ease-in;
      left: 120%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 4%;
    }
  }
}
@mixin galleryIMG17 {
  animation: img17 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img17 {
    0% {
      transition: all 0.5s ease-in;
      left: 25%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 0%;
    }
  }
}
@mixin galleryIMG18 {
  animation: img18 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img18 {
    0% {
      transition: all 0.5s ease-in;
      left: 24.5%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 0%;
    }
  }
}
@mixin galleryIMG19 {
  animation: img19 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img19 {
    0% {
      transition: all 0.5s ease-in;
      left: 25%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 0%;
    }
  }
}
@mixin galleryIMG20 {
  animation: img20 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img20 {
    0% {
      transition: all 0.5s ease-in;
      left: 20%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 0%;
    }
  }
}
@mixin textAnimation {
  animation: a1 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes a1 {
    0% {
      transition: all 0.5s ease-in;
      left: 6%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: -13%;
    }
  }
}
@mixin textAnimation1 {
  animation: a2 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes a2 {
    0% {
      transition: all 0.5s ease-in;
      left: 31%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 6%;
    }
  }
}
@mixin textAnimation2 {
  animation: a3 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes a3 {
    0% {
      transition: all 0.5s ease-in;
      left: 56%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 31%;
    }
  }
}
@mixin textAnimation3 {
  animation: a4 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes a4 {
    0% {
      transition: all 0.5s ease-in;
      left: 81%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 56%;
    }
  }
}
@mixin textAnimation4 {
  animation: a5 ease 1.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes a5 {
    0% {
      transition: all 0.5s ease-in;
      left: 6%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: -30%;
    }
  }
}
@mixin textAnimation5 {
  animation: a6 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes a6 {
    0% {
      transition: all 0.5s ease-in;
      left: 31%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 6%;
    }
  }
}
@mixin textAnimation6 {
  animation: a7 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes a7 {
    0% {
      transition: all 0.5s ease-in;
      left: 56%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 31%;
    }
  }
}
@mixin textAnimation7 {
  animation: a8 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 20;
  @keyframes a8 {
    0% {
      transition: all 0.5s ease-in;
      left: 120%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 81%;
    }
  }
}
@mixin textAnimation8 {
  animation: a9 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 20;
  @keyframes a9 {
    0% {
      transition: all 0.5s ease-in;
      left: 81%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 56%;
    }
  }
}
@mixin textAnimation9 {
  animation: a10 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 20;
  @keyframes a10 {
    0% {
      transition: all 0.5s ease-in;
      left: 56%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 31%;
    }
  }
}
@mixin textAnimation10 {
  animation: a11 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 20;
  @keyframes a11 {
    0% {
      transition: all 0.5s ease-in;
      left: 31%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 6%;
    }
  }
}
@mixin textAnimation11 {
  animation: a12 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 20;
  @keyframes a12 {
    0% {
      transition: all 0.5s ease-in;
      left: 6%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: -13%;
    }
  }
}
