@mixin transition-ease {
  transition: all 0.5s ease-in;
}

@mixin landingAnimation {
  animation: fade ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes fade {
    0% {
      @include transition-ease;
      filter: blur(20px);
      top: 60%;
    }
    100% {
      @include transition-ease;
      filter: blur(0px);
      top: 40%;
    }
  }
}

@mixin navAnimation {
  animation: nav ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes nav {
    0% {
      @include transition-ease;
      filter: blur(5px);
      left: 0%;
    }
    100% {
      @include transition-ease;
      filter: blur(0px);
      left: 0%;
    }
  }
}

@mixin btnAnimation {
  animation: btn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes btn {
    0% {
      @include transition-ease;
      filter: blur(5px);
      top: 80%;
    }
    100% {
      @include transition-ease;
      filter: blur(0px);
      bottom: -20%;
    }
  }
}

@mixin galleryIMG1 {
  animation: img1 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img1 {
    0% {
      transition: all 0.5s ease-in;
      left: 0;
    }
    100% {
      transition: all 0.5s ease-in;
      left: -20%;
    }
  }
}
@mixin galleryIMG2 {
  animation: img2 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img2 {
    0% {
      transition: all 0.5s ease-in;
      left: 0;
    }
    100% {
      transition: all 0.5s ease-in;
      left: -25%;
    }
  }
}
@mixin galleryIMG3 {
  animation: img3 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img3 {
    0% {
      transition: all 0.5s ease-in;
      left: -25%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: -50%;
    }
  }
}
@mixin galleryIMG4 {
  animation: img4 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img4 {
    0% {
      transition: all 0.5s ease-in;
      left: -50%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: -75%;
    }
  }
}
@mixin galleryIMG5 {
  animation: img5 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes img5 {
    0% {
      transition: all 0.5s ease-in;
      left: -75%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: -95%;
    }
  }
}
@mixin textAnimation {
  animation: a1 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes a1 {
    0% {
      transition: all 0.5s ease-in;
      left: 6%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: -13%;
    }
  }
}
@mixin textAnimation1 {
  animation: a2 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes a2 {
    0% {
      transition: all 0.5s ease-in;
      left: 31%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 6%;
    }
  }
}
@mixin textAnimation2 {
  animation: a3 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes a3 {
    0% {
      transition: all 0.5s ease-in;
      left: 56%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 31%;
    }
  }
}
@mixin textAnimation3 {
  animation: a4 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes a4 {
    0% {
      transition: all 0.5s ease-in;
      left: 81%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 56%;
    }
  }
}
@mixin textAnimation4 {
  animation: a5 ease 1.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes a5 {
    0% {
      transition: all 0.5s ease-in;
      left: 6%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: -30%;
    }
  }
}
@mixin textAnimation5 {
  animation: a6 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes a6 {
    0% {
      transition: all 0.5s ease-in;
      left: 31%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 6%;
    }
  }
}
@mixin textAnimation6 {
  animation: a7 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
  @keyframes a7 {
    0% {
      transition: all 0.5s ease-in;
      left: 56%;
    }
    100% {
      transition: all 0.5s ease-in;
      left: 31%;
    }
  }
}
