@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
$primary-color: #f4eb86;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  user-select: none;
}