@import "summary";
@import "animations";
.gallery {
  background-image: url("../img/svg/brownWaveDownSide.svg");
  position: absolute;
  top: 239%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 25%;
}

.title {
  position: absolute;
  top: 270%;
  width: 30%;
  height: 10%;
  left: 40%;
  text-align: center;

  .gallery-title {
    position: absolute;
    font-size: 2.7rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
}

.slider {
  // background-color: darkkhaki;
  position: absolute;
  top: 280%;
  width: 100%;
  height: 69%;
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;

  img {
    position: relative;
    top: 10%;
    width: 15%;
    border-radius: 10px;
    height: 80%;
    z-index: 5;
    object-fit: cover;
    // opacity: 1;
  }
  .gray {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 60%;
    z-index: 2;
    background-color: #eeecec;
  }
}
.btn-before,
.btn-after {
  z-index: 6;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(206, 197, 176);
  font-size: 2rem;
}
.btn-before {
  position: absolute;
  top: 307.5%;
  left: 0%;
}
.btn-after {
  position: absolute;
  top: 307.5%;
  left: 96.8%;
}
.srebarna-text {
  position: absolute;
  top: 319.5%;
  left: 6%;
  height: 20%;
  max-width: 13%;
  word-wrap: break-word;
  word-break: normal;
  overflow: hidden;
  .srebarna-title {
    overflow: hidden;
    color: #fff;
    font-size: 2.2rem;
    z-index: 12;
  }
  .srebarna-content {
    overflow: hidden;
    color: #fff;
    font-size: 1.1rem;
    z-index: 12;
    font-family: "Cormorant Garamond";
    padding-bottom: 1%;
  }
  .srebarna-button {
    overflow: hidden;
    width: 70%;
    height: 22%;
    font-size: 1.4rem;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    color: #ffffff;
    font-family: "Cormorant Garamond";
    cursor: pointer;
  }
}

.rila-text {
  position: absolute;
  top: 319.5%;
  left: 31%;
  height: 21%;
  max-width: 13%;
  word-wrap: break-word;
  word-break: normal;
  overflow: hidden;
  .rila-title {
    overflow: hidden;
    color: #fff;
    font-size: 2.2rem;
    z-index: 12;
  }
  .rila-content {
    overflow: hidden;
    color: #fff;
    font-size: 1.1rem;
    z-index: 12;
    font-family: "Cormorant Garamond";
  }
  .rila-button {
    overflow: hidden;
    width: 70%;
    height: 22%;
    font-size: 1.4rem;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    color: #ffffff;
    font-family: "Cormorant Garamond";
    cursor: pointer;
  }
}

.madara-text {
  position: absolute;
  top: 317.2%;
  left: 56%;
  height: 23%;
  max-width: 13%;
  word-wrap: break-word;
  word-break: normal;
  overflow: hidden;
  .madara-title {
    overflow: hidden;
    color: #fff;
    font-size: 2.2rem;
    z-index: 12;
  }
  .madara-content {
    overflow: hidden;
    color: #fff;
    font-size: 1.1rem;
    z-index: 12;
    font-family: "Cormorant Garamond";
  }
  .madara-button {
    overflow: hidden;
    width: 70%;
    height: 21%;
    font-size: 1.4rem;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    color: #ffffff;
    font-family: "Cormorant Garamond";
    cursor: pointer;
  }
}

.prohodna-text {
  position: absolute;
  top: 317%;
  left: 81%;
  height: 23%;
  max-width: 13%;
  word-wrap: break-word;
  word-break: normal;
  overflow: hidden;
  .prohodna-title {
    overflow: hidden;
    color: #fff;
    font-size: 2.2rem;
    z-index: 12;
  }
  .prohodna-content {
    overflow: hidden;
    color: #fff;
    font-size: 1.1rem;
    z-index: 12;
    font-family: "Cormorant Garamond";
  }
  .prohodna-button {
    overflow: hidden;
    width: 70%;
    height: 21%;
    font-size: 1.4rem;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    color: #ffffff;
    font-family: "Cormorant Garamond";
    cursor: pointer;
  }
}
.lakes-text {
  position: absolute;
  top: 317%;
  left: 81%;
  height: 23%;
  max-width: 13%;
  word-wrap: break-word;
  word-break: normal;
  overflow: hidden;
  z-index: 15;
  .lakes-title {
    overflow: hidden;
    color: #fff;
    font-size: 2.2rem;
    z-index: 12;
  }
  .lakes-content {
    overflow: hidden;
    color: #fff;
    font-size: 1.1rem;
    z-index: 12;
    font-family: "Cormorant Garamond";
  }
  .lakes-button {
    overflow: hidden;
    width: 70%;
    height: 21%;
    font-size: 1.4rem;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    color: #ffffff;
    font-family: "Cormorant Garamond";
    cursor: pointer;
  }
}
.belintash-text {
  position: absolute;
  top: 317%;
  left: 81%;
  height: 23%;
  max-width: 13%;
  word-wrap: break-word;
  word-break: normal;
  overflow: hidden;
  z-index: 15;
  .belintash-title {
    overflow: hidden;
    color: #fff;
    font-size: 2.2rem;
    z-index: 12;
  }
  .belintash-content {
    overflow: hidden;
    color: #fff;
    font-size: 1.1rem;
    z-index: 12;
    font-family: "Cormorant Garamond";
  }
  .belintash-button {
    overflow: hidden;
    width: 70%;
    height: 21%;
    font-size: 1.4rem;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    color: #ffffff;
    font-family: "Cormorant Garamond";
    cursor: pointer;
  }
}
.throat-text {
  position: absolute;
  top: 317%;
  left: 81%;
  height: 23%;
  max-width: 13%;
  word-wrap: break-word;
  word-break: normal;
  overflow: hidden;
  z-index: 15;
  .throat-title {
    overflow: hidden;
    color: #fff;
    font-size: 2.2rem;
    z-index: 12;
  }
  .throat-content {
    overflow: hidden;
    color: #fff;
    font-size: 1.1rem;
    z-index: 12;
    font-family: "Cormorant Garamond";
  }
  .throat-button {
    overflow: hidden;
    width: 70%;
    height: 21%;
    font-size: 1.4rem;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    color: #ffffff;
    font-family: "Cormorant Garamond";
    cursor: pointer;
  }
}
.bridges-text {
  position: absolute;
  top: 312%;
  left: 81%;
  height: 27%;
  max-width: 13%;
  word-wrap: break-word;
  word-break: normal;
  overflow: hidden;
  z-index: 15;
  .bridges-title {
    overflow: hidden;
    color: #fff;
    font-size: 2.2rem;
    z-index: 12;
  }
  .bridges-content {
    overflow: hidden;
    color: #fff;
    font-size: 1.1rem;
    z-index: 12;
    font-family: "Cormorant Garamond";
  }
  .bridges-button {
    overflow: hidden;
    width: 68%;
    height: 19%;
    font-size: 1.4rem;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    color: #ffffff;
    font-family: "Cormorant Garamond";
    cursor: pointer;
  }
}
.img5 {
  position: absolute;
  top: 287%;
  width: 15%;
  left: 80%;
  border-radius: 10px;
  height: 55%;
  z-index: 5;
  // object-fit: cover;
  // opacity: 1;
}
.slide-left {
  @include galleryIMG1;
}
.slide-left1 {
  @include galleryIMG2;
}
.slide-left2 {
  @include galleryIMG3;
}
.slide-left3 {
  @include galleryIMG4;
}
.slide-left4 {
  @include galleryIMG5;
}
.slide-left5 {
  @include galleryIMG6;
}
.slide-left6 {
  @include galleryIMG7;
}
.slide-left7 {
  @include galleryIMG8;
}
.slide-left8 {
  @include galleryIMG9;
}
.slide-left9 {
  @include galleryIMG10;
}
.slide-left10 {
  @include galleryIMG11;
}
.slide-left11 {
  @include galleryIMG12;
}
.slide-left12 {
  @include galleryIMG13;
}
.slide-left13 {
  @include galleryIMG14;
}
.slide-left14 {
  @include galleryIMG15;
}
.slide-left15 {
  @include galleryIMG16;
}
.slide-left16 {
  @include galleryIMG17;
}
.slide-left17 {
  @include galleryIMG18;
}
.slide-left18 {
  @include galleryIMG19;
}
.slide-left19 {
  @include galleryIMG20;
}
.slide-left20 {
  @include galleryIMG21;
}
.slide-left21 {
  @include galleryIMG22;
}
.slide-left22 {
  @include galleryIMG23;
}
.slide-left23 {
  @include galleryIMG24;
}
.slide-left24 {
  @include galleryIMG25;
}
.slide-left25 {
  @include galleryIMG26;
}
.slide-left26 {
  @include galleryIMG27;
}
.slide-left27 {
  @include galleryIMG28;
}
.slide-left28 {
  @include galleryIMG29;
}
.slide-left29 {
  @include galleryIMG30;
}
.slide-left30 {
  @include galleryIMG31;
}

.slide-text {
  @include textAnimation;
}
.slide-text1 {
  @include textAnimation1;
}
.slide-text2 {
  @include textAnimation2;
}
.slide-text3 {
  @include textAnimation3;
}
.slide-text4 {
  @include textAnimation4;
}
.slide-text5 {
  @include textAnimation5;
}
.slide-text6 {
  @include textAnimation6;
}
.slide-text7 {
  @include textAnimation7;
}
.slide-text8 {
  @include textAnimation8;
}
.slide-text9 {
  @include textAnimation9;
}
.slide-text10 {
  @include textAnimation10;
}
.slide-text11 {
  @include textAnimation11;
}
.slide-text12 {
  @include textAnimation12;
}
.slide-text13 {
  @include textAnimation13;
}
.slide-text14 {
  @include textAnimation14;
}
.slide-text15 {
  @include textAnimation15;
}
.slide-text16 {
  @include textAnimation16;
}
.slide-text17 {
  @include textAnimation17;
}
.slide-text18 {
  @include textAnimation18;
}
.slide-text19 {
  @include textAnimation19;
}
.slide-text20 {
  @include textAnimation20;
}
.slide-text21 {
  @include textAnimation21;
}
.hidden {
  display: none;
}
