.summary{
    position: absolute;
    background-image: url("../img/Summary.svg");
    background-size: cover;
    top: 114%;
    width: 100%;
    height: 125%;
    background-repeat: no-repeat;
}
.waves{
    background-image: url("../img/waves.svg");
    position: absolute;
    top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 15%;
}