@import "animations";
.timeline{
    position: absolute;
    top: 400%;
    left: 21.5%;
}
.timeline-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.3rem;
    position: absolute;
    top: 380%;
    left: 34%;
}
.active-content {
    animation: content 1s ease-in-out;
    animation-fill-mode: forwards;
    @keyframes content {
        0% {
            opacity: 0;
            transform: translateX(50%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @include transition-ease;
}
.active-content1 {
    animation: content1 1s ease-in-out;
    animation-fill-mode: forwards;
    @keyframes content1 {
        0% {
            opacity: 0;
            transform: translateX(-50%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @include transition-ease;
}
.image-active {
    animation: imageAnimation 1s ease-in-out;
    animation-fill-mode: forwards;
    @keyframes imageAnimation {
        0% {
            opacity: 0;
            transform: translateX(0%);
        }
        100% {
            opacity: 1;
            transform: translateX(104%);
        }
    }
}
.image-active1 {
    animation: imageAnimation1 1s ease-in-out;
    animation-fill-mode: forwards;
    @keyframes imageAnimation1 {
        0% {
            opacity: 0;
            transform: translateX(0%);
        }
        100% {
            opacity: 1;
            transform: translateX(-100%);
        }
    }
}
.image-active1-reverse {
    animation: imageAnimationReverse1 1s ease-in-out;
    animation-fill-mode: forwards;
    @keyframes imageAnimationReverse1 {
        0% {
            opacity: 0;
            transform: translateX(-100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }
}
.image-active-reverse {
    animation: imageAnimationReverse 1s ease-in-out;
    animation-fill-mode: forwards;
    @keyframes imageAnimationReverse {
        0% {
            opacity: 0;
            transform: translateX(104%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }
}
.timeline-img {
    position: absolute;
    top: 400.8%;
    left: 62%;
    width: 15%;
    height: 13.7%;
    display: none;
}
.timeline-img1 {
    position: absolute;
    top: 414.8%;
    left: 21.5%;
    width: 15%;
    height: 13.7%;
    display: none;
}
.timeline-img2 {
    position: absolute;
    top: 427.4%;
    left: 62%;
    width: 15%;
    height: 13.7%;
    display: none;
}
.timeline-img3 {
    position: absolute;
    top: 441%;
    left: 21.5%;
    width: 15%;
    height: 13.7%;
    display: none;
}
.timeline-img4 {
    position: absolute;
    top: 453.3%;
    left: 62%;
    width: 15%;
    height: 13.7%;
    display: none;
}
.timeline-img5 {
    position: absolute;
    top: 466.8%;
    left: 21.5%;
    width: 15%;
    height: 13.7%;
    display: none;
}
.timeline-img6 {
    position: absolute;
    top: 479.3%;
    left: 61.5%;
    width: 15%;
    height: 13.7%;
    display: none;
}
.timeline-img7 {
    position: absolute;
    top: 492.5%;
    left: 21.5%;
    width: 15%;
    height: 13.7%;
    display: none;
}
.timeline-img8 {
    position: absolute;
    top: 505.1%;
    left: 61.7%;
    width: 15%;
    height: 13.7%;
    display: none;
}
.timeline-img9 {
    position: absolute;
    top: 518.3%;
    left: 21.5%;
    width: 15%;
    height: 13.7%;
    display: none;
}
.timeline-img10 {
    position: absolute;
    top: 531%;
    left: 61.7%;
    width: 15%;
    height: 13.7%;
    display: none;
}
.timeline-img11 {
    position: absolute;
    top: 544.3%;
    left: 21.5%;
    width: 15%;
    height: 13.7%;
    display: none;
}
.timeline-img12 {
    position: absolute;
    top: 557%;
    left: 61.7%;
    width: 15%;
    height: 13.7%;
    display: none;
}
.timeline-img13 {
    position: absolute;
    top: 570.3%;
    left: 21.5%;
    width: 15%;
    height: 13.7%;
    display: none;
}
.timeline-img14 {
    position: absolute;
    top: 582.9%;
    left: 61.7%;
    width: 15%;
    height: 13.7%;
    display: none;
}
rect {
    z-index: -1;
}
.asparuh {
    position: absolute;
    top: 401%;
    left: 62%;
    width: 15%;
    height: 13%;
    z-index: 2;
    font-size: .95rem;
    max-width: 15%;
    word-wrap: break-word;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    // text-align: justify;
    // display: none;
}
.Byzantium {
    position: absolute;
    top: 415%;
    left: 23%;
    width: 14%;
    height: 13%;
    z-index: 2;
    font-size: .95rem;
    max-width: 15%;
    word-wrap: break-word;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    // text-align: justify;
    // display: none;
}
.krum {
    position: absolute;
    top: 428%;
    left: 62%;
    width: 15%;
    height: 13%;
    z-index: 2;
    font-size: .95rem;
    max-width: 15%;
    word-wrap: break-word;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    // text-align: justify;
    // display: none;
}
.conversion {
    position: absolute;
    top: 441%;
    left: 23%;
    width: 15%;
    height: 13%;
    z-index: 2;
    font-size: .95rem;
    max-width: 15%;
    word-wrap: break-word;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    // text-align: justify;
    // display: none;
}
.alphabet {
    position: absolute;
    top: 454%;
    left: 62%;
    width: 15%;
    height: 13%;
    z-index: 2;
    font-size: .94rem;
    max-width: 15%;
    word-wrap: break-word;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    // text-align: justify;
    // display: none;
}
.peter {
    position: absolute;
    top: 467%;
    left: 23%;
    width: 15%;
    height: 13%;
    z-index: 2;
    font-size: .94rem;
    max-width: 15%;
    word-wrap: break-word;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    // text-align: justify;
    // display: none;
}
.samuel {
    position: absolute;
    top: 480%;
    left: 62%;
    width: 15%;
    height: 13%;
    z-index: 2;
    font-size: .92rem;
    max-width: 15%;
    word-wrap: break-word;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    // text-align: justify;
    // display: none;
}
.assen {
    position: absolute;
    top: 493%;
    left: 23%;
    width: 15%;
    height: 13%;
    z-index: 2;
    font-size: .90rem;
    max-width: 15%;
    word-wrap: break-word;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    // text-align: justify;
    // display: none;
}
.kaloyan {
    position: absolute;
    top: 506%;
    left: 62%;
    width: 15%;
    height: 13%;
    z-index: 2;
    font-size: .90rem;
    max-width: 15%;
    word-wrap: break-word;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    // text-align: justify;
    // display: none;
}
.ivan {
    position: absolute;
    top: 519%;
    left: 23%;
    width: 15%;
    height: 13%;
    z-index: 2;
    font-size: .90rem;
    max-width: 15%;
    word-wrap: break-word;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    // text-align: justify;
    // display: none;
}
.sratsimir {
    position: absolute;
    top: 532%;
    left: 62%;
    width: 15%;
    height: 13%;
    z-index: 2;
    font-size: .89rem;
    max-width: 15%;
    word-wrap: break-word;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    // text-align: justify;
    // display: none;
}
.uprising {
    position: absolute;
    top: 545%;
    left: 23%;
    width: 15%;
    height: 14%;
    z-index: 2;
    font-size: .9rem;
    max-width: 14%;
    word-wrap: break-word;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    // text-align: justify;
    // display: none;
}
.kingdom {
    position: absolute;
    top: 558%;
    left: 62%;
    width: 14%;
    height: 13%;
    z-index: 2;
    font-size: .9rem;
    max-width: 15%;
    word-wrap: break-word;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    // text-align: justify;
    // display: none;
}
.axis {
    position: absolute;
    top: 571%;
    left: 23%;
    width: 14%;
    height: 13%;
    z-index: 2;
    font-size: .9rem;
    max-width: 15%;
    word-wrap: break-word;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    // text-align: justify;
    // display: none;
}
.communism {
    position: absolute;
    top: 584%;
    left: 62%;
    width: 14%;
    height: 13%;
    z-index: 2;
    font-size: .9rem;
    max-width: 15%;
    word-wrap: break-word;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    // text-align: justify;
    // display: none;
}
@media screen and (max-width: 1536px) {
    .timeline-title {
        top: 380%;
        left: 35%;
        font-size: 1.8rem;
    }
    .timeline {
        left: -22%;
        width: 2200px;
        height: 1500px;   
    }
    .timeline-img {
        top: 400.8%;
        left: 62%;
        width: 14.7%;
        height: 13.5%;
    }
    .timeline-img1 {
        top: 414.8%;
        left: 21.5%;
        width: 14.7%;
        height: 13.2%;
    }
    .timeline-img2 {
        top: 427.4%;
        left: 62%;
        width: 14.7%;
        height: 13%;
    }
    .timeline-img3 {
        top: 440.2%;
        left: 21.5%;
        width: 14.7%;
        height: 13.2%;
    }
    .timeline-img4 {
        top: 453%;
        left: 62%;
        width: 14.7%;
        height: 13%;
    }
    .timeline-img5 {
        top: 466%;
        left: 21.5%;
        width: 14.7%;
        height: 13%;
    }
    .timeline-img6 {
        top: 478%;
        left: 61.5%;
        width: 14.7%;
        height: 13.5%;
    }
    .timeline-img7 {
        top: 491.2%;
        left: 21.5%;
        width: 14.7%;
        height: 13.2%;
    }
    .timeline-img8 {
        top: 504%;
        left: 62.2%;
        width: 14.7%;
        height: 13%;
    }
    .timeline-img9 {
        top: 517%;
        left: 21.5%;
        width: 14.7%;
        height: 13.2%;
    }
    .timeline-img10 {
        top: 529.2%;
        left: 62.1%;
        width: 14.5%;
        height: 13%;
    }
    .timeline-img11 {
        top: 542.2%;
        left: 21.5%;
        width: 14.7%;
        height: 13%;
    }
    .timeline-img12 {
        top: 555%;
        left: 62%;
        width: 14.2%;
        height: 13%;
    }
    .timeline-img13 {
        top: 567.5%;
        left: 21.5%;
        width: 14.7%;
        height: 13.2%;
    }
    .timeline-img14 {
        top: 580.2%;
        left: 62%;
        width: 14.7%;
        height: 13%;
    }
    .image-active1 {
    animation: imageAnimation1 1s ease-in-out;
    animation-fill-mode: forwards;
    @keyframes imageAnimation1 {
        0% {
            opacity: 0;
            transform: translateX(0%);
        }
        100% {
            opacity: 1;
            transform: translateX(-92%);
        }
    }
}
.image-active1-reverse {
    animation: imageAnimationReverse1 1s ease-in-out;
    animation-fill-mode: forwards;
    @keyframes imageAnimationReverse1 {
        0% {
            opacity: 0;
            transform: translateX(-92%);
        }
        100% {
            opacity: 1;
            transform: translateX(10%);
        }
    }
}
    .asparuh {
        font-size: .75rem;
        left: 62.5%;
    }
    .Byzantium {
        font-size: .75rem;
        left: 24.4%;
        width: 12%;
    }
    .krum {
        font-size: .7rem;
        left: 62.5%;
        width: 14%;
        top: 427.5%;
    }
    .conversion {
        font-size: .74rem;
        left: 24.4%;
        width: 12%;
        top: 440.5%;
    }
    .alphabet {
        font-size: .76rem;
        left: 62.5%;
        width: 14%;
        top: 453%;
    }
    .peter {
        font-size: .75rem;
        left: 24.4%;
        width: 13%;
        top: 465.8%;
    }
    .samuel {
        font-size: .75rem;
        left: 62.5%;
        width: 14%;
        top: 478.5%;
    }
    .assen {
        font-size: .75rem;
        left: 24.4%;
        width: 13%;
        top: 491.5%;
    }
    .kaloyan {
        font-size: .75rem;
        left: 62.5%;
        width: 14%;
        top: 504%;
    }
    .ivan {
        font-size: .75rem;
        left: 24.4%;
        width: 14%;
        top: 517%;
    }
    .sratsimir {
        font-size: .75rem;
        left: 62.5%;
        width: 14%;
        top: 529.5%;
    }
    .uprising {
        font-size: .75rem;
        left: 24.4%;
        width: 14%;
        top: 542.5%;
    }
    .kingdom {
        font-size: .75rem;
        left: 62.5%;
        width: 14%;
        top: 555%;
    }
    .axis {
        font-size: .75rem;
        left: 24.4%;
        width: 14%;
        top: 568%;
    }
    .communism {
        font-size: .75rem;
        left: 62.5%;
        width: 14%;
        top: 580.5%;
    }
}
