.timeline{
    position: absolute;
    top: 400%;
    left: 21.5%;
}
.timeline-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.3rem;
    position: absolute;
    top: 380%;
    left: 34%;
}