@import "config";
@import "animations";
nav {
  position: fixed;
  background-color: transparent;
  padding: 1%;
  font-family: "Poppins", sans-serif;
  width: 100%;
  z-index: 2;
  @include navAnimation;
  ul {
    text-align: center;
  }
  li {
    list-style-type: none;
    margin-left: 5%;
    display: inline;
    font-size: 1.5rem;
  }
  a {
    color: black;
    cursor: pointer;
    i {
      font-size: 1.2rem;
      margin-right: 0.7vw;
      cursor: pointer;
      color: black;
    }
  }
}
.landing {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/Landing.svg");
  background-size: cover;
  background-repeat: no-repeat;
  .introduction {
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 45%;
    left: 42%;
    @include landingAnimation;
    h1{
      color: black;
      text-align: center;
    }
  }
}
// .bonus-information {
//   color: black;
//   left: 26%;
//   top: 79.5%;
//   position: absolute;
//   width: 9.3vw;
//   h1 {
//     font-size: 1.5rem;
//     font-family: "Poppins", sans-serif;
//     color: #343030;
//   }
//   p {
//     font-size: 1rem;
//     font-family: "Poppins", sans-serif;
//     color: #343030;
//   }
// }
// .bonus-information_1 {
//   color: black;
//   left: 46%;
//   top: 79.5%;
//   position: absolute;
//   width: 8vw;
//   h1 {
//     font-size: 1.5rem;
//     font-family: "Poppins", sans-serif;
//     color: #343030;
//   }
//   p {
//     font-size: 1rem;
//     font-family: "Poppins", sans-serif;
//     color: #343030;
//   }
// }
// .bonus-information_2 {
//   color: black;
//   left: 66%;
//   top: 79.5%;
//   position: absolute;
//   width: 10vw;
//   h1 {
//     font-size: 1.5rem;
//     font-family: "Poppins", sans-serif;
//     color: #343030;
//   }
//   p {
//     font-size: 1rem;
//     font-family: "Poppins", sans-serif;
//     color: #343030;
//   }
// }
