@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.summary {
  position: absolute;
  top: 100%;
}

nav {
  position: fixed;
  background-color: transparent;
  padding: 1%;
  font-family: "Poppins", sans-serif;
  width: 100%;
  z-index: 2;
  -webkit-animation: nav ease 1s;
          animation: nav ease 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes nav {
  0% {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    left: 0%;
  }
  100% {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    left: 0%;
  }
}

@keyframes nav {
  0% {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    left: 0%;
  }
  100% {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    left: 0%;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 74%;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

nav li {
  list-style-type: none;
  display: inline;
  font-size: 1.5rem;
}

nav a {
  color: black;
  cursor: pointer;
}

nav a i {
  font-size: 1.2rem;
  margin-right: 0.7vw;
  cursor: pointer;
  color: black;
}

.landing {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/Landing.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.landing .introduction {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 45%;
  left: 74%;
  -webkit-animation: fade ease 1s;
          animation: fade ease 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  0% {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    top: 60%;
  }
  100% {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    top: 40%;
  }
}

@keyframes fade {
  0% {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    top: 60%;
  }
  100% {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    top: 40%;
  }
}

.landing .introduction h1:nth-child(1) {
  color: #837e79;
}

.landing .introduction h1:nth-child(2) {
  color: #dd9036;
}

.landing .introduction h1:nth-child(3) {
  color: #231f1f;
}

.bonus-information {
  color: black;
  left: 74%;
  top: 82%;
  position: absolute;
  width: 8vw;
}

.bonus-information h1 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  color: #343030;
}

.bonus-information p {
  font-size: 0.78rem;
  font-family: "Poppins", sans-serif;
  color: #343030;
}

.bonus-information_1 {
  color: black;
  left: 83%;
  top: 82%;
  position: absolute;
  width: 8vw;
}

.bonus-information_1 h1 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  color: #343030;
}

.bonus-information_1 p {
  font-size: 0.78rem;
  font-family: "Poppins", sans-serif;
  color: #343030;
}

.bonus-information_2 {
  color: black;
  left: 92%;
  top: 82%;
  position: absolute;
  width: 8vw;
}

.bonus-information_2 h1 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  color: #343030;
}

.bonus-information_2 p {
  font-size: 0.78rem;
  font-family: "Poppins", sans-serif;
  color: #343030;
}
/*# sourceMappingURL=style.css.map */