@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.waves {
  background-image: url("../img/waves.svg");
  position: absolute;
  top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 15%;
}

.summary {
  position: absolute;
  background-image: url("../img/Summary.svg");
  background-size: cover;
  top: 114%;
  width: 100%;
  height: 125%;
  background-repeat: no-repeat;
}

.summary .summary-header {
  position: relative;
  font-size: 2.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  top: 20%;
  left: 41.4%;
}

.summary .image-1 {
  position: absolute;
  left: 41.3%;
  top: 26%;
  z-index: 1;
}

.summary .image-2 {
  position: absolute;
  left: 50.1%;
  top: 52.5%;
  z-index: 1;
}

.gallery {
  position: absolute;
  background-image: url("../img/Gallery.svg");
  background-size: cover;
  height: 122%;
  width: 100%;
  top: 239%;
}

nav {
  position: fixed;
  background-color: transparent;
  padding: 1%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  width: 100%;
  z-index: 2;
  -webkit-animation: nav ease 1s;
          animation: nav ease 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes nav {
  0% {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    left: 0%;
  }
  100% {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    left: 0%;
  }
}

@keyframes nav {
  0% {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    left: 0%;
  }
  100% {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    left: 0%;
  }
}

nav ul {
  text-align: center;
}

nav li {
  list-style-type: none;
  margin-left: 5%;
  display: inline;
  font-size: 1.5rem;
}

nav a {
  color: black;
  cursor: pointer;
}

nav a i {
  font-size: 1.2rem;
  margin-right: 0.7vw;
  cursor: pointer;
  color: black;
}

.landing {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/Landing.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.landing .introduction {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400 !important;
  position: absolute;
  top: 45%;
  left: 42%;
  -webkit-animation: fade ease 1s;
          animation: fade ease 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  0% {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    top: 60%;
  }
  100% {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    top: 40%;
  }
}

@keyframes fade {
  0% {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    top: 60%;
  }
  100% {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    top: 40%;
  }
}

.landing .introduction h1 {
  color: black;
  text-align: center;
}

.btn {
  width: 8%;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 0.8%;
  height: 5%;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 1000;
  position: absolute;
  left: 45.7%;
  top: 58%;
}

.btn:hover {
  background-position: 100% 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn.hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ed6ea0), color-stop(#ec8c69), color-stop(#f7186a), to(#fbb03b));
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #fbb03b);
  -webkit-box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
          box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
/*# sourceMappingURL=style.css.map */